/* 
This style sheet can be used for reference
but not for an assignment.
*/

/* Center the body in the middle of the viewport 
by defining min and max widths with auto right/left margins
*/
body {
  margin:0 auto;
  min-width:400px;
  max-width:70%;
  text-align:center;
  background-color: grey;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

/* PAGE LAYOUT 
Consistant design for each page layout block. 
*/
header, main, article, footer {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight:bold;
  border: 5px;
  margin: auto;
  padding: 5px;
}

/* NAVIGATION
Simple changes to make anchors look like buttons. 
*/
nav {margin: 4px 0 0 0;}
nav a {
  text-decoration:none;
  color: white;
  border: 10px;
  padding:4px;
  margin:4px;
  color:whitesmoke;
  font-weight:bold;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: auto;
  text-decoration: wavy;
}
/* Reverse the colors when hovering to give the user some interaction feedback.*/
nav a:hover {
  background-color: whitesmoke;
  color:gray;
}

/* TABLE */
table {
  margin:0 auto;
  border-collapse:separate;
  border: 5px;
  padding: 5px;;
}
caption {color:white}
tr td, td th {
  border: 1px solid white;
  padding: 8px;
}
tr:nth-child(even){background-color:rgb(245, 244, 244);
color: black;}
th {
  font-weight:normal;
  padding: 4px;
  background-color: lightgray;
}


/* FORM */
fieldset {
  border:1px solid gray;
}
legend {
  background-color:black;
}
label {
  display:inline-block;
  margin-top:20px;
  padding: 15px;
}
input {
  padding:10px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
select {
  padding:10px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
button {
  padding:15px;
  background-color: grey;
  color: whitesmoke;
  border:3px solid black;
  border-radius:10px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
button:hover {
  background-color: gray;
  color: black;
}

